<!DOCTYPE html>
<html lang="zh-Hans" class="{{#enableScroll}}enable-scrollmation{{/enableScroll}} 
{{#autoNav}}enable-autonav{{/autoNav}}
{{#demo}}demo{{/demo}}">
<head><!-- enableScroll为true,autoNav为null,来自data/myanmar.json -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 
		http-equiv:这个枚举属性定义了能改变服务器和用户引擎行为的编译,编译值使用content 来定义
		X-UA-Compatible是IE8新增的设置，可指定网页的兼容性模式。
		告诉IE浏览器，IE8/9及以后的版本都会以最高版本IE来渲染页面。
		疑问：这里在什么手册可以查？？？  
	 -->
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta name="copyright" content="FT中文网">
	<meta name="robots" content="index,follow">
	<meta name="author" content="FTC Interactive Graphics">
	<meta name="apple-mobile-web-app-capable" content="yes">
	<meta name="apple-mobile-web-app-status-bar-style" content="default">

	{{>partials/meta}}<!-- 这是其它一些meta数据 -->

	<!-- smoosh -->
	<link rel="stylesheet" type="text/css" href="styles/main.css">
	{{# customCss}}
	<link rel="stylesheet" type="text/css" href="styles/{{projectName}}.css">
	{{/ customCss}}<!-- 当前说明：customCss为false/projectName无定义 -->
	<!-- endsmoosh -->
	<!-- 知识性说明：
		用于使用gulp-smoosher插件，以生成一个目的html,将源html中的外部链接的css和js改为文本内嵌方式。参见gulpfile.js的任务smoosh
		这里的href是从.tmp中开始查找资源的
	-->

	{{# analytics}}
		{{> partials/analytics}} <!-- 这是有关ga分析的 -->
	{{/ analytics}}<!-- 当前说明：analytics未定义，故该子板块不显示 -->
</head>

<body>
	<img src="{{{wechatImage}}}" style="display: block;width: 0px;height: 0px;overflow: hidden;">

	{{> partials/header}}

	{{> article/main}}

	{{# footer}}
		{{> partials/footer}}
	{{/ footer}}

	{{# highcharts}}
	<script type="bower_components/highcharts/highcharts.js"></script>
	{{/ highcharts}}

	{{# d3}}
	<script type="bower_components/d3/d3.min.js"></script>
	{{/ d3}}

	<!-- smoosh -->
	<script type="scripts/main.js"></script>
	{{# customJs}}
	<script type="scripts/{{projectName}}.js"></script>
	{{/ customJs}}
	<!-- endsmoosh -->

	<!-- build:js http://static.ftchinese.com/js/log.js?v=6 -->
	<script src=""></script>
	<!-- endbuild -->
</body>

</html>