<figure class="ig-blockquote">
	<!-- 知识性说明：
		figure元素代表一段独立的内容，经常与figcaption元素配合使用，并且作为一个独立的引用单元。其经常是在主文中引用的图片，插图，表格，代码段等等。其位置独立于主体。
	-->
	<blockquote class="ig-blockquote__text">
		<!-- 知识性说明:
			blockquote元素代表其中的文字是引用内容。通常在渲染时，这部分内容会有一定的缩进
		 -->
		{{text}}
	</blockquote>
	<figcaption class="ig-blockquote__caption">
		<!-- 知识性说明：
			figcaption元素是与其相关联的图片的说明/标题。用于描述其父节点figure元素里的其他数据。这意味着figcaption在figure块里是第一个或最后一个或没有
		-->
		{{caption}}
	</figcaption>
</figure>